<%- include header %>
<div class="fun-floor-w">
  <h1 class="fun-title-l">让协作走出办公室</h1>
  <p class="fun-content" style="color:#999;line-height:30px;">现在你不仅可以在网页端登录，也可以通过智能手机进行团队协作。
    <br/>
    我们会同样保持最快速的更新，让你无论何时何地都可以完整的使用 Teambition。</p>
</div>
<ul class="download-page clear">
  <li class="down-pc">
    <label>桌面版</label>
    <figure class="pc-bg">
    </figure>
    <div>
      <a href="" class="down-btn">OS X</a>
      <a href="" class="down-btn">Windows</a>
    </div>
    <label>QR</label>
    <figure class="pc-code">

    </figure>
    <div>
      <p>直接扫描二维码</p>
      <p>下载手机客户端</p>
    </div>
  </li>
  <li class="down-ios">
    <label>桌面版</label>
    <figure class="pc-bg">
    </figure>
    <div>
      <a href="" class="down-btn">OS X</a>
      <a href="" class="down-btn">Windows</a>
    </div>
    <label>QR</label>
    <figure class="pc-code">

    </figure>
    <div>
      <p>直接扫描二维码</p>
      <p>下载手机客户端</p>
    </div>
  </li>
  <li class="down-and"></li>
</ul>
<%- include footer %>