
</article>
<footer class="clear">
    <div class="footer-container">
        <ul class="product">
            <h4>产品</h4>
            <li><a href="#">产品概览</a></li>
            <li><a href="#">价格</a></li>
            <li><a href="#">下载</a></li>
            <li><a href="#">社区</a></li>
            <li><a href="#">最近更新</a></li>
            <li><a href="#">隐私条款</a></li>
        </ul>
        <ul class="company">
            <h4>公司</h4>
            <li><a href="#">新闻与活动</a></li>
            <li><a href="#">团队成员</a></li>
            <li><a href="#">加入我们</a></li>
            <li><a href="#">媒体报道</a></li>
            <li><a href="#">合作伙伴</a></li>
            <li><a href="#">公益计划</a></li>
        </ul>
        <ul class="solution">
            <h4>解决方案</h4>
            <li><a href="#">一站式</a></li>
            <li><a href="#">制造业</a></li>
            <li><a href="#">教育科研业</a></li>
            <li><a href="#">社区行业案例</a></li>
        </ul>
        <ul class="developer">
            <h4>开发者</h4>
            <li><a href="#">开源项目</a></li>
            <li><a href="#">开放平台</a></li>
            <li><a href="#">创作随笔</a></li>
            <li><a href="#">自助检测</a></li>
            <li><a href="#">系统状态</a></li>
        </ul>
        <ul class="contact">
            <h4>联系方式</h4>
            <li><a href="#">+86 400-060-5576</a>
                <br>  <span>周一至周日 8:00 ~ 20:00</span>
            </li>
            <li><a href="#">support@teambition.com</a></li>
            <li><a href="#">联系我们</a></li>
        </ul>
    </div>
    <div class="foot">
        <div class="foot-bottom">
            <div class="copyright">Copyright © 2013-2016 Teambition</div>
            <span><a href="#">沪ICP备11014111号-2</a></span>
            <div class="mixpanels">
                <a href="#"><img src="img/badge_blue.png" alt=""></a>
            </div>
            <div class="sns-info">
                <ul>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>