<%- include header %>
  <div class="fun-floor-b fun-floor-1">
    <h1 class="fun-title-l">这里有你想要的一切</h1>
    <p class="fun-content">
      无论你想研发一款新产品、制作一个广告案，还是策划一次婚礼。你只需要在 Teambition 上创建一个项目，将所有相关的团队成员添加到项目里。Web、iOS、Android 全平台实时协作。Teambition 为你提供管理任务、安排日程、查找文件、即时讨论等团队所需要的一切协作功能，而这一切，完全免费。
    </p>
    <img class="img-response" src=" /images/func/a-floor.png" alt="">
  </div>
  <div class="fun-floor-w fun-floor-2">
    <h1 class="fun-title-m">直观地了解每一个人的工作进展</h1>
    <p class="fun-content" style="color:#333">
      在任务板上，你可以很直观地和大家一起推动任务进展。针对每一个任务，你可以分解子任务、搭载附件、设定截止日期，而且也可以随时开展讨论
    </p>
    <img class="img-response" src="/images/func/b-floor.png" alt="">
  </div>
  <div class="fun-floor-b fun-floor-3">
    <h1 class="fun-title-m">
      这是真的，文件云端无限存储
    </h1>
    <p class="fun-content">
      文件库是一个可以协作的网盘，所有文件都可以随时访问，并发表你的看法。它支持图片、doc、PDF、xlsx、MP4等多种常用文件的在线预览。同时，你可以随时上传更新新版本，所有历史版本都会保存。有关文件的一切存储与更新，再也不用邮件抄送了。
    </p>
    <img class="img-response" src="/images/func/c-floor.png" alt="">
  </div>
    <div class="fun-floor-w">
      <img  style="max-width:25%;margin-bottom:20px;" src="/images/func/m-title.png" alt="">
      <p class="fun-content">无论身在何处，想随时与同伴协作，用 Teambition 就能做到。</p>
      <a href="#" class="fun-btn" >立即免费注册</a>
    </div>
<%- include footer %>