<%- include header %>
  <div class="tb-banner">
    <ul class="tb-banner-index clear">
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <div class="tb-banner-item share">
      <a href="#" class="item-title" >团队协作工具倡导者</a>
      <a href="#" class="btn item-btn">免费注册</a>
      <a href="#" class="banner-news">Teambition 携手钉钉，协作与沟通的优雅结合，企业版用户立即开通</a>
    </div>
    <div class="tb-banner-item mobile none">
      <a href="#" class="item-title" >团队协作工具倡导者</a>
      <a href="#" class="btn item-btn">免费注册</a>
      <a href="#" class="banner-news">Teambition X 云之家：携手共创高效项目协作</a>
    </div>
    <div class="tb-banner-item work none">
      <a href="#" class="item-title" >团队协作工具倡导者</a>
      <a href="#" class="btn item-btn">免费注册</a>
      <a href="#" class="banner-news">「走 , 去工作」的 100 万个故事之 —— 是谁在用 TB 造房子?</a>
    </div>
  </div>
<div class="tb-content clear">
  <h1>为你提供了协作的一切</h1>
    <dl class="col-response">
      <dd class="feature-1"></dd>
      <dt>基于项目</dt>
    </dl>
   <dl class="col-response">
    <dd class="feature-2"></dd>
    <dt>任务管理</dt>
  </dl>
  <dl class="col-response">
    <dd class="feature-3"></dd>
    <dt>分享讨论</dt>
  </dl>
  <dl class="col-response">
    <dd class="feature-4"></dd>
    <dt>文件共享</dt>
  </dl>
  <dl class="col-response">
    <dd class="feature-5"></dd>
    <dt>日程安排</dt>
  </dl>
  <dl class="col-response">
    <dd class="feature-6"></dd>
    <dt>账目记录</dt>
  </dl>
  <dl class="col-response">
    <dd class="feature-7"></dd>
    <dt>每日动态</dt>
  </dl>
  <dl class="col-response">
    <dd class="feature-8"></dd>
    <dt>标签</dt>
  </dl>
  <div>
    <a href="#" class="detail-btn">查看详细功能介绍</a>
  </div>

</div>
<div class="apps clear">
  <h1 class="apps-title">随时随地</h1>
  <h1 class="apps-title">找到你享受的工作状态</h1>
  <div class="apps-container"></div>
</div>
<div class="case clear">
  <h1 class="case-title">已经被应用于超过十个行业的逾一百万项目中</h1>
  <div>
    <a href="#" class="case-item case-teambition">
      <span>轻松用于敏捷开发项目</span>
    </a>
    <a href="#" class="case-item case-ad">
      <span>广告</span>
    </a>
    <a href="#" class="case-item case-manu">
      <span>精细制作</span>
    </a>
    <a href="#" class="case-item case-student">
      <span>学生组织</span>
    </a>
    <a href="#" class="case-item case-edu">
      <span>教育机构</span>
    </a>
    <a href="#" class="case-item case-admin">
      <span>行政</span>
    </a>
    <a href="#" class="case-item case-design">
      <span>设计</span>
    </a>
    <a href="#" class="case-item case-more">
      <b>10+</b>
    </a>
  </div>
</div>
<div class="tb-video clear">
  <div class="video-item">
    <video controls autoplay class="player" poster="/media/video-banner-poster.png">
      <source src="/media/videos-go_to_work_bg_music.mp4" type="video/mp4">
    </video>
  </div>

</div>
<%- include footer %>