<%- include header %>
<div class="fun-floor-b  price-bg">
  <h1 class="fun-title-l">协作之上，是更有意义的企业管理</h1>
  <p class="fun-content" style="color:#333">
    在 Teambition 上创建一个企业，把项目和成员加入其中，即可借助专业的企业功能来统筹管理项目进展和成员工作情况。由于一切都来自于自动汇总和统计，所以构建在协作工具之上的企业管理将无比精确而高效，帮助你创造一家伟大的企业。
  </p>
  <div><a class="free-btn" href="">免费试用</a><a class="pre-btn" href="">预约演示</a></div>
</div>
<div class="fun-floor-w">
    <h1 class="fun-title-m">价值够大，价格够低</h1>
  <p class="fun-content" style="color:#333; font-size: 1.3rem;line-height: 1.2;">
    与你印象中的企业服务不同，Teambition 企业版的价格仅需每位成员每年249元。
    每月一杯咖啡的投入，换来成倍改善的沟通效率。
  </p>
  <div class="price-item clear">
       <div class="price-free">
         <div class="price-free-head">
           <h1>免费版</h1>
           <p>适用于个人或微型团队</p>
         </div>
         <div class="price-free-charge">
           <h2>￥0</h2>
           <a href="#"></a>
         </div>
         <ul class="price-content">
           <li>●&nbsp;每个项目最多10位成员</li>
           <li>●&nbsp;任务、文件、日程、分享应用</li>
           <li>●&nbsp;文件总容量无限</li>
           <li>●&nbsp; Markdown 插件</li>
           <li>●&nbsp;单个文件最大支持200M容量</li>
         </ul>
       </div>
        <div class="price-copy">
          <div class="price-copy-head">
            <h1>企业版</h1>
            <p>适用于各规模团队及企业</p>
          </div>
          <div class="price-copy-charge">
            <h2>￥249</h2>
            <a href="#"></a>
          </div>
          <ul class="price-content">
            <li>●&nbsp; “免费版”所有功能</li>
            <li>●&nbsp;文件总容量无限</li>
            <li>●&nbsp;支持所有应用与插件</li>
            <li>●&nbsp; 自定义的权限及角色配置</li>
            <li>●&nbsp; 企业组织架构管理</li>
            <li>●&nbsp; 企业专属顾问</li>
            <li>●&nbsp; 自动化的企业报告</li>
            <li>●&nbsp; 提供客户成功支持计划</li>


          </ul>
        </div>
        </div>
  </div>
</div>
<%- include footer %>