<%- include header %>
<section class="tb-input-room">
    <form method="post">
       <input class="tb-input" type="text" name="name" placeholder="用户名"/><br />
         <input class="tb-input" type="password" name="password" placeholder="密码"/><br />
        <input class="tb-input" type="password" name="password-repeat" placeholder="确认密码"/><br />
         <input class="tb-input" type="email" name="email" placeholder="邮箱"/><br />
        <input class="tb-input tb-blue-input" type="submit" value="注册"/>
    </form>
</section>


<%- include footer %>
<script>
    document.getElementsByTagName("header")[0].style.opacity=0;
    document.getElementsByTagName("footer")[0].style.opacity=0;
</script>